* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    background-color: #ccf5fe;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 11fr 1fr;
    grid-template-areas:
    "nav nav"
    "aside main"
    "footer footer";
}

nav {
    color: #ffffff;
    font-size: 2em;
    background-color: #1c478d;
    grid-area: nav; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    background-image: url(../img/nav-bg.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 35%;
        h1 {
            font-family: "Sigmar", sans-serif;
            font-size: 1.2em;
            font-weight: 100;
            color: #1c478d;
            padding-left: 1.5%;
            text-shadow:
            3px 3px 0 #fecc00,
            -3px 3px 0 #fecc00,
            -3px -3px 0 #fecc00,
            3px -3px 0 #fecc00;
        }
        h2 {
            font-family: "Gloria Hallelujah", cursive;
            font-size: 0.9em;
            color: #ffffff;
        }
}

aside {
    color:#ffffff;
    background-color: #f95d5d;
    grid-area: aside; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 4%;
    padding: 13% 10%;
    background-image: url(../img/aside-bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 175%;
        h3 {
            font-weight: 800;
            font-size: 1.7em;
            text-decoration: underline;
        }
        p {
            font-weight: 500;
            font-size: 1.3em;
        }
        p:hover {
            font-weight: 800;
            text-decoration: underline;
            color: #fecc00
        }
        span {
            font-weight: 300;
            color: #fecc00
        }
}

main {
    grid-area: main; 
    min-height: calc(100vh - 151.8px);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-image: url(../img/Logo.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 35%;
}

.card {
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    img {
        width: 70%;
        height: 68%;
        object-fit: scale-down;
        padding: 10px 0px;
    }
    .button-container {
        width: 100%;
        height: 10%;
        font-size: 1.5em;
        font-weight: 400;
    }
    p {
        font-weight: 600;
    }
    p:hover {
        font-weight: 800;
        text-decoration: underline;
        color: #fecc00
    }
    .button-container { 
        color: #ffffff;
        background-color: #ff1a1a;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

footer {
    color:#ffffff;
    font-size: 1.1em;
    background-color: #1c478d;
    grid-area: footer; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
    span { 
        font-size: 1.3em;
        font-weight: 600;
    }
}